@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu-Regular.ttf'),
      url('./assets/fonts/Ubuntu-Medium.ttf');
    font-weight: 600;
    font-style: normal;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}


.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 15fr / repeat(6, 1fr);
    grid-template-areas: 
        "header header header header header header"
        "sidebar content content content content content"
    ;
    
}
#tasks div {

}

#tasks #display-task-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-container {

    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.plus-container:hover {
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#project {
    grid-area: project;
}  
#title {
    grid-area: title;
}
#description {
    grid-area: description;
}
#priority {
    grid-area: priority;
}
#task-date-container {
    grid-area: task-date-container;
}

#header {
    background-color: #E1EBEE;
    grid-area: header;
    display: grid;
    grid-template: 1fr / 6fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#header #header-title {
    margin-left: 1em;
    display: flex;
    align-items: center;
}

#header #header-misc {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 1fr 1fr;
}

#header #header-plus {
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5em;
    font-size: 1.1em;
}

#header #header-plus:hover {
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} 

#header #header-display-all {
    padding: 0.5em;
    font-size: 1.1em;
}

#header #header-display-all a:hover {
    cursor: pointer;
    color: rgb(0, 178, 248) !important;
}

#header #header-plus a:visited, #header #header-display-all a:visited {
    color: black;
}

#header #header-plus a, #header #header-display-all a {
    text-decoration: none;
}

#sidebar {
    grid-area: sidebar;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: #E1EBEE;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sidebar span {
    margin-top: 2em;

}

.active {
    color: rgb(0, 217, 255) !important;
}


#sidebar a {
    text-decoration: none;
    font-size: 1.2em;

}

#sidebar a:visited {
    color: black;
    
}




#dropdown-content {
    margin-top: 2em;
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

#dropdown-content li {
    list-style-type: none;
    margin-top: 2em;
}
  


#content {
    grid-area: content;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template: 1fr 1fr 10fr / 1fr;

}

#month-year {
    font-size: 1.3em;
    font-weight: bold;
}

.arrow {
    font-size: 1.3em;
}

.arrow:hover {
    cursor: pointer;
}

#days {
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}





#calendar {
    display: grid;
    gap: 10px;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr);
}

.previous-month-date {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-month-date {
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    grid-template: 1.5fr 2fr 3fr / 1fr;
}

.current-month-date div {
    display: flex;
    align-items: center;
    justify-content: center;
}


#date {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#date div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-tasks:hover {
    cursor: pointer;
    background-color: aliceblue !important;
}

.container div {
    /* border: 1px solid red; */
}

form {
    overflow: auto;
}


#global-form-container, .form-container {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

#global-form-container #global-form, .form-container .form {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#global-form-container #global-form form, .form-container .form form {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    height: 100%;
    width: 100%;
}

#global-form-container #global-form form #close-date, .form-container .form form #close-date {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

#global-form-container #global-form form #close-task-date, .form-container .form form #close-task-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

#global-form-container #global-form form #close, .form-container .form form #close {
    display: flex;
    align-items: center;
    justify-content: right;
}

#global-form-container #global-form form #close a, .form-container .form form #close a {
    margin-right: 50px;
    font-size: 1.5em;
}

#global-form-container #global-form form #input-fields {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
        "title description"
        "task-date-container task-date-container"
        "priority project"
    ;
}

#global-form-container #global-form form #input-fields #title, #global-form-container #global-form form #input-fields #description {
    width: 60%;
    height: 2em;
}


#global-form-container #global-form form #input-fields #task-date, 
#global-form-container #global-form form #input-fields #priority, 
#global-form-container #global-form form #input-fields #project {
    width: 30%;
    height: 2em;
}


.submit-button {
    width: 5em;
    height: 3em;
}
#input-fields label {
    margin-right: 10px;
}

#global-form-container #global-form form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.form-container .form form #input-fields {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
        "title project"
        "description priority"
    ;
}


.form-container .form form #input-fields #title, .form-container .form form #input-fields #description {
    width: 60%;
    height: 2em;
}


.form-container .form form #input-fields #priority, 
.form-container .form form #input-fields #project {
    width: 30%;
    height: 2em;
}



#global-form-container #global-form form #submit-button, .form-container .form form #submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container .form form div {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.task-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.task-container #tasks {
    background-color: white;
    width: 40%;
    height: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template: 1fr 5fr / 1fr;
}

.task-container #tasks #task-date-close {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.task-container #tasks #task-date-close #close {
    display: flex;
    align-items: center;
    justify-content: right;
}

.task-container #tasks #task-date-close #close a {
    margin-right: 50px;
    font-size: 1.3em;
}

.task-container #tasks #task-tasks {
    overflow: auto;
}

.task-container #tasks #task-tasks div {
    overflow: auto;
}
.task-container #tasks #task-tasks {
    padding: 10px;
}

.task-container #tasks #task-tasks a {
    border-radius: 50%;
    transition: 0.3s ease;
}
.task-container #tasks #task-tasks a:hover {
    cursor: pointer;
}




@media only screen and (max-width: 1700px) {
    #input-fields {
        display: flex !important;
        flex-direction: column !important;

    }
}

