<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="login-form-container">
        <form id="login-form" action="/login" method="POST">
            <h3 style="color: white">Sign in</h3>
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <p style="color: white">Don't have an account? <span><a style="text-decoration: none; color: teal" href="/register">Sign up</a></span></p>
        </form>
    </div>
</body>
</html>