
<div id="header">
    <div id="header-links">
        <a href="/">Articles</a>
        <a href="/articleForm">Add Article</a>
    </div>
    <form id="logout-form" action="/logout" method="POST">
        <button onclick="return confirm('Are you sure you want to logout?')" type="submit">Logout</button>
    </form>
</div>
