
<header>
    <a href="/">Home</a>
    <form action="/logout" method="POST">
        <button onclick="return confirm('Are you sure you want to log out?')" type="submit">Logout</button>
    </form>
</header>
