<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="matchingPassword" id="matchingPassword" placeholder="Repeat password">
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </form>
</body>
</html>